.main {
  width: 90vw;
  margin: 2vh auto;
  max-width: 1000px;
  padding-bottom: 20px;
}

.white {
  background: rgba(255, 255, 255, 0.65);
}

.yellow {
  background: rgba(255, 255, 104, 0.6);
}

.orange {
  background: rgba(255, 183, 49, 0.6);
}

.green {
  background: rgba(111, 255, 121, 0.6);
}

.purple {
  background: rgba(250, 111, 255, 0.6);
}

.blue {
  background: rgba(90, 139, 255, 0.6);
}

.red {
  background: rgba(255, 112, 112, 0.6);
}

.brown {
  background: rgba(122, 0, 0, 0.6);
}

.black {
  background: rgba(0, 0, 0, 0.6);
}
